<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="pt"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cassandra Converter</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Cassandra Converter"/>
    <meta name="author" content="Felipe Dalcin && Yan Venera"/>
    <link rel="icon" th:href="@{/image/favicon.png}"/>
</head>

<body>
<div class="layout-main">
    <section layout:fragment="content">
        <div class="container mt-auto">
            <h1 class="display-4">Cassandra Converter</h1>

            <div class="row">
                <h4>Content</h4>
            </div>
        </div>
    </section>
</div>
</body>
</html>